# GHG Emissions API

## Imports

In [45]:
import pandas as pd

## Global Variables

In [57]:
GHG_DATA_PATH = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1087005/uk-local-authority-ghg-emissions-2020-dataset.csv'
LOCAL_AUTHORITY = 'Bolsover'
YEAR = 2018

## General Functions

## Data

In [47]:
df = pd.read_csv(GHG_DATA_PATH)
df.head()

,Country,Country Code,Region,Region Code,Second Tier Authority,Local Authority,Local Authority Code,Calendar Year,LA GHG Sector,LA GHG Sub-sector,Greenhouse gas,Territorial emissions (kt CO2e),CO2 emissions within the scope of influence of LAs (kt CO2e),Mid-year Population (thousands),Area (km2)
0,England,E92000001,East Midlands,E12000004,Derby,Derby,E06000015,2005,Agriculture,Agriculture Electricity,CH4,0.010737,0.000000,236.47,78.0311
1,England,E92000001,East Midlands,E12000004,Derby,Derby,E06000015,2005,Agriculture,Agriculture Electricity,CO2,0.380289,0.380289,236.47,78.0311
2,England,E92000001,East Midlands,E12000004,Derby,Derby,E06000015,2005,Agriculture,Agriculture Electricity,N2O,0.001710,0.000000,236.47,78.0311
3,England,E92000001,East Midlands,E12000004,Derby,Derby,E06000015,2005,Agriculture,Agriculture Gas,CH4,0.021121,0.000000,236.47,78.0311
4,England,E92000001,East Midlands,E12000004,Derby,Derby,E06000015,2005,Agriculture,Agriculture Gas,CO2,0.700438,0.700438,236.47,78.0311

In [48]:
df.dtypes

Country                                                          object
Country Code                                                     object
Region                                                           object
Region Code                                                      object
Second Tier Authority                                            object
Local Authority                                                  object
Local Authority Code                                             object
Calendar Year                                                     int64
LA GHG Sector                                                    object
LA GHG Sub-sector                                                object
Greenhouse gas                                                   object
Territorial emissions (kt CO2e)                                 float64
CO2 emissions within the scope of influence of LAs (kt CO2e)    float64
Mid-year Population (thousands)                                 float64
Area (km2)                                                      float64
dtype: object

In [49]:
# Filter by road transport
df = df.loc[df['LA GHG Sector'] == "Transport"]
df = df[df['LA GHG Sub-sector'].str.contains("Road")]
df.head()

,Country,Country Code,Region,Region Code,Second Tier Authority,Local Authority,Local Authority Code,Calendar Year,LA GHG Sector,LA GHG Sub-sector,Greenhouse gas,Territorial emissions (kt CO2e),CO2 emissions within the scope of influence of LAs (kt CO2e),Mid-year Population (thousands),Area (km2)
65,England,E92000001,East Midlands,E12000004,Derby,Derby,E06000015,2005,Transport,Road Transport (A roads),CH4,2.041521,0.000000,236.47,78.0311
66,England,E92000001,East Midlands,E12000004,Derby,Derby,E06000015,2005,Transport,Road Transport (A roads),CO2,212.296075,212.296075,236.47,78.0311
67,England,E92000001,East Midlands,E12000004,Derby,Derby,E06000015,2005,Transport,Road Transport (A roads),N2O,2.519068,0.000000,236.47,78.0311
68,England,E92000001,East Midlands,E12000004,Derby,Derby,E06000015,2005,Transport,Road Transport (Minor roads),CH4,3.246193,0.000000,236.47,78.0311
69,England,E92000001,East Midlands,E12000004,Derby,Derby,E06000015,2005,Transport,Road Transport (Minor roads),CO2,293.002134,293.002134,236.47,78.0311

## Analyse df

In [50]:
print("GHG's: {}".format(df['Greenhouse gas'].unique()))
print("Road transport types: {}".format(df['LA GHG Sub-sector'].unique()))

GHG's: ['CH4' 'CO2' 'N2O']
Road transport types: ['Road Transport (A roads)' 'Road Transport (Minor roads)'
 'Road Transport (Motorways)']

## Motorways

In [54]:
df_motorway = df.loc[df['LA GHG Sub-sector'] == "Road Transport (Motorways)"]
df_motorway.head()

,Country,Country Code,Region,Region Code,Second Tier Authority,Local Authority,Local Authority Code,Calendar Year,LA GHG Sector,LA GHG Sub-sector,Greenhouse gas,Territorial emissions (kt CO2e),CO2 emissions within the scope of influence of LAs (kt CO2e),Mid-year Population (thousands),Area (km2)
2477,England,E92000001,East Midlands,E12000004,Derbyshire,Bolsover,E07000033,2005,Transport,Road Transport (Motorways),CH4,1.009594,0.0,73.844,160.3347
2478,England,E92000001,East Midlands,E12000004,Derbyshire,Bolsover,E07000033,2005,Transport,Road Transport (Motorways),CO2,227.140738,0.0,73.844,160.3347
2479,England,E92000001,East Midlands,E12000004,Derbyshire,Bolsover,E07000033,2005,Transport,Road Transport (Motorways),N2O,1.333054,0.0,73.844,160.3347
2556,England,E92000001,East Midlands,E12000004,Derbyshire,Bolsover,E07000033,2006,Transport,Road Transport (Motorways),CH4,0.948244,0.0,74.347,160.3347
2557,England,E92000001,East Midlands,E12000004,Derbyshire,Bolsover,E07000033,2006,Transport,Road Transport (Motorways),CO2,224.946955,0.0,74.347,160.3347

### Total GHG Emissions by Local Authority and Year

In [55]:
df_motorway = pd.DataFrame(df_motorway.groupby(by=['Local Authority', 'Calendar Year'])['Territorial emissions (kt CO2e)'].sum())
df_motorway = df_motorway.reset_index(level=['Local Authority', 'Calendar Year'])
df_motorway.head()

           Local Authority  Calendar Year  Territorial emissions (kt CO2e)
0  Antrim and Newtownabbey           2005                       105.154184
1  Antrim and Newtownabbey           2006                       104.037523
2  Antrim and Newtownabbey           2007                       104.199617
3  Antrim and Newtownabbey           2008                       101.315233
4  Antrim and Newtownabbey           2009                        99.998182

### Filter by Local Authority and Year

In [58]:
# Use Global Variables defined
df_motorway = df_motorway.loc[df_motorway['Local Authority'] == LOCAL_AUTHORITY]
df_motorway = df_motorway.loc[df_motorway['Calendar Year'] == YEAR]
df_motorway

    Local Authority  Calendar Year  Territorial emissions (kt CO2e)
221        Bolsover           2018                       195.526434