# GHG Emissions API

## Imports

In [1]:
import pandas as pd

## Global Variables

In [2]:
GHG_DATA_PATH = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1087005/uk-local-authority-ghg-emissions-2020-dataset.csv'
LOCAL_AUTHORITY = 'Watford' # First English Local Authority with Motorways data since 2005
YEAR = 2018

## General Functions

## Data

In [3]:
df = pd.read_csv(GHG_DATA_PATH)

In [4]:
# Only take England
df = df.loc[df['Country'] == 'England']
df = df.sort_values(by='Local Authority')
df.head()

,Country,Country Code,Region,Region Code,Second Tier Authority,Local Authority,Local Authority Code,Calendar Year,LA GHG Sector,LA GHG Sub-sector,Greenhouse gas,Territorial emissions (kt CO2e),CO2 emissions within the scope of influence of LAs (kt CO2e),Mid-year Population (thousands),Area (km2)
272749,England,E92000001,South East,E12000008,West Sussex,Adur,E07000223,2005,Agriculture,Agriculture Electricity,CH4,0.046825,0.000000,59.821,43.6479
273522,England,E92000001,South East,E12000008,West Sussex,Adur,E07000223,2015,Public Sector,Public Sector 'Other',CO2,0.015106,0.015106,63.526,43.6479
273521,England,E92000001,South East,E12000008,West Sussex,Adur,E07000223,2015,Public Sector,Public Sector 'Other',CH4,0.000084,0.000000,63.526,43.6479
273520,England,E92000001,South East,E12000008,West Sussex,Adur,E07000223,2015,Public Sector,Public Sector Gas,N2O,0.005411,0.000000,63.526,43.6479
273519,England,E92000001,South East,E12000008,West Sussex,Adur,E07000223,2015,Public Sector,Public Sector Gas,CO2,5.373303,5.373303,63.526,43.6479

In [5]:
df.dtypes

Country                                                          object
Country Code                                                     object
Region                                                           object
Region Code                                                      object
Second Tier Authority                                            object
Local Authority                                                  object
Local Authority Code                                             object
Calendar Year                                                     int64
LA GHG Sector                                                    object
LA GHG Sub-sector                                                object
Greenhouse gas                                                   object
Territorial emissions (kt CO2e)                                 float64
CO2 emissions within the scope of influence of LAs (kt CO2e)    float64
Mid-year Population (thousands)                                 float64
Area (km2)                                                      float64
dtype: object

In [6]:
# Filter by road transport
df = df.loc[df['LA GHG Sector'] == "Transport"]
df = df[df['LA GHG Sub-sector'].str.contains("Road")]
df.head()

,Country,Country Code,Region,Region Code,Second Tier Authority,Local Authority,Local Authority Code,Calendar Year,LA GHG Sector,LA GHG Sub-sector,Greenhouse gas,Territorial emissions (kt CO2e),CO2 emissions within the scope of influence of LAs (kt CO2e),Mid-year Population (thousands),Area (km2)
273532,England,E92000001,South East,E12000008,West Sussex,Adur,E07000223,2015,Transport,Road Transport (Minor roads),N2O,0.357327,0.000000,63.526,43.6479
273531,England,E92000001,South East,E12000008,West Sussex,Adur,E07000223,2015,Transport,Road Transport (Minor roads),CO2,34.421870,34.421870,63.526,43.6479
273530,England,E92000001,South East,E12000008,West Sussex,Adur,E07000223,2015,Transport,Road Transport (Minor roads),CH4,0.306636,0.000000,63.526,43.6479
273529,England,E92000001,South East,E12000008,West Sussex,Adur,E07000223,2015,Transport,Road Transport (A roads),N2O,0.531886,0.000000,63.526,43.6479
273528,England,E92000001,South East,E12000008,West Sussex,Adur,E07000223,2015,Transport,Road Transport (A roads),CO2,62.567559,62.567559,63.526,43.6479

## Analyse df

In [7]:
print("GHG's: {}".format(df['Greenhouse gas'].unique()))
print("Road transport types: {}".format(df['LA GHG Sub-sector'].unique()))

GHG's: ['N2O' 'CO2' 'CH4']
Road transport types: ['Road Transport (Minor roads)' 'Road Transport (A roads)'
 'Road Transport (Motorways)']

## Motorways

In [8]:
df_motorway = df.loc[df['LA GHG Sub-sector'] == "Road Transport (Motorways)"]
df_motorway.head()

,Country,Country Code,Region,Region Code,Second Tier Authority,Local Authority,Local Authority Code,Calendar Year,LA GHG Sector,LA GHG Sub-sector,Greenhouse gas,Territorial emissions (kt CO2e),CO2 emissions within the scope of influence of LAs (kt CO2e),Mid-year Population (thousands),Area (km2)
33803,England,E92000001,East Midlands,E12000004,Nottinghamshire,Ashfield,E07000170,2008,Transport,Road Transport (Motorways),N2O,0.371795,0.0,116.971,109.5581
33801,England,E92000001,East Midlands,E12000004,Nottinghamshire,Ashfield,E07000170,2008,Transport,Road Transport (Motorways),CH4,0.243297,0.0,116.971,109.5581
33802,England,E92000001,East Midlands,E12000004,Nottinghamshire,Ashfield,E07000170,2008,Transport,Road Transport (Motorways),CO2,66.180332,0.0,116.971,109.5581
33724,England,E92000001,East Midlands,E12000004,Nottinghamshire,Ashfield,E07000170,2007,Transport,Road Transport (Motorways),N2O,0.444010,0.0,116.301,109.5581
33722,England,E92000001,East Midlands,E12000004,Nottinghamshire,Ashfield,E07000170,2007,Transport,Road Transport (Motorways),CH4,0.316472,0.0,116.301,109.5581

### Total GHG Emissions by Local Authority and Year

In [9]:
df_motorway = pd.DataFrame(df_motorway.groupby(by=['Local Authority', 'Calendar Year'])['Territorial emissions (kt CO2e)'].sum())
df_motorway = df_motorway.reset_index(level=['Local Authority', 'Calendar Year'])
df_motorway = df_motorway.rename(columns={'Territorial emissions (kt CO2e)': 'Annual Territorial emissions (kt CO2e)'})
df_motorway.head()

  Local Authority  Calendar Year  Annual Territorial emissions (kt CO2e)
0        Ashfield           2005                               74.488642
1        Ashfield           2006                               78.378314
2        Ashfield           2007                               77.875712
3        Ashfield           2008                               66.795423
4        Ashfield           2009                               65.034277

### Filter by Local Authority and Year

In [10]:
# Use Global Variables defined
df_motorway_filter = df_motorway.loc[df_motorway['Local Authority'] == LOCAL_AUTHORITY]
df_motorway_filter = df_motorway_filter.loc[df_motorway_filter['Calendar Year'] == YEAR]
df_motorway_filter

     Local Authority  Calendar Year  Annual Territorial emissions (kt CO2e)
2597         Watford           2018                                 9.31911

## All Roads

### Total GHG Emissions by Local Authority and Year

In [11]:
df_road = pd.DataFrame(df.groupby(by=['Local Authority', 'Calendar Year'])['Territorial emissions (kt CO2e)'].sum())
df_road = df_road.reset_index(level=['Local Authority', 'Calendar Year'])
df_road = df_road.rename(columns={'Territorial emissions (kt CO2e)': 'Annual Territorial emissions (kt CO2e)'})
df_road.head()

  Local Authority  Calendar Year  Annual Territorial emissions (kt CO2e)
0            Adur           2005                              125.042511
1            Adur           2006                              118.014936
2            Adur           2007                              115.096206
3            Adur           2008                              107.019836
4            Adur           2009                              104.521629

### Filter by Local Authority and Year

In [12]:
# Use Global Variables defined
df_road_filter = df_road.loc[df_road['Local Authority'] == LOCAL_AUTHORITY]
df_road_filter = df_road_filter.loc[df_road_filter['Calendar Year'] == YEAR]
df_road_filter

     Local Authority  Calendar Year  Annual Territorial emissions (kt CO2e)
4541         Watford           2018                              111.705683

In [13]:
# Compare to individual GHG emissions
df_filter = df.loc[df['Local Authority'] == LOCAL_AUTHORITY]
df_filter = df_filter.loc[df_filter['Calendar Year'] == YEAR]
df_filter.head()

,Country,Country Code,Region,Region Code,Second Tier Authority,Local Authority,Local Authority Code,Calendar Year,LA GHG Sector,LA GHG Sub-sector,Greenhouse gas,Territorial emissions (kt CO2e),CO2 emissions within the scope of influence of LAs (kt CO2e),Mid-year Population (thousands),Area (km2)
77828,England,E92000001,East of England,E12000006,Hertfordshire,Watford,E07000103,2018,Transport,Road Transport (A roads),CH4,0.498072,0.000000,96.767,21.4305
77829,England,E92000001,East of England,E12000006,Hertfordshire,Watford,E07000103,2018,Transport,Road Transport (A roads),CO2,52.113468,52.113468,96.767,21.4305
77830,England,E92000001,East of England,E12000006,Hertfordshire,Watford,E07000103,2018,Transport,Road Transport (A roads),N2O,0.529611,0.000000,96.767,21.4305
77831,England,E92000001,East of England,E12000006,Hertfordshire,Watford,E07000103,2018,Transport,Road Transport (Minor roads),CH4,0.496507,0.000000,96.767,21.4305
77832,England,E92000001,East of England,E12000006,Hertfordshire,Watford,E07000103,2018,Transport,Road Transport (Minor roads),CO2,48.231740,48.231740,96.767,21.4305

In [14]:
df_filter['Territorial emissions (kt CO2e)'].sum() # Should be same as calculated value

111.705682557

## Feature Extraction

In [15]:
df_features = df_road.merge(df, on=['Local Authority', 'Calendar Year'])
"""df_features = df_features.drop(['Country', 'Country Code', 'Region', 'Region Code', 'Second Tier Authority', 'Greenhouse gas', 
            'CO2 emissions within the scope of influence of LAs (kt CO2e)',
            'LA GHG Sector'])
            """
df_features.head()

,Local Authority,Calendar Year,Annual Territorial emissions (kt CO2e),Country,Country Code,Region,Region Code,Second Tier Authority,Local Authority Code,LA GHG Sector,LA GHG Sub-sector,Greenhouse gas,Territorial emissions (kt CO2e),CO2 emissions within the scope of influence of LAs (kt CO2e),Mid-year Population (thousands),Area (km2)
0,Adur,2005,125.042511,England,E92000001,South East,E12000008,West Sussex,E07000223,Transport,Road Transport (Minor roads),N2O,0.509289,0.000000,59.821,43.6479
1,Adur,2005,125.042511,England,E92000001,South East,E12000008,West Sussex,E07000223,Transport,Road Transport (Minor roads),CO2,38.394841,38.394841,59.821,43.6479
2,Adur,2005,125.042511,England,E92000001,South East,E12000008,West Sussex,E07000223,Transport,Road Transport (Minor roads),CH4,0.426737,0.000000,59.821,43.6479
3,Adur,2005,125.042511,England,E92000001,South East,E12000008,West Sussex,E07000223,Transport,Road Transport (A roads),N2O,0.953767,0.000000,59.821,43.6479
4,Adur,2005,125.042511,England,E92000001,South East,E12000008,West Sussex,E07000223,Transport,Road Transport (A roads),CO2,84.040944,84.040944,59.821,43.6479

## Saving Data

In [16]:
# Save Motorways and all roads seperately